openapi: 3.1.0
info:
  title: Schoology REST API v1 Assignments Users API
  description: 'REST API for the Schoology K-12 LMS (a PowerSchool company). Provides access

    to realm resources (users, courses, sections), realm objects (enrollments,

    assignments, grades, submissions), and multi-call helpers.

    Source: https://developers.schoology.com/api-documentation/rest-api-v1

    '
  version: '1.0'
servers:
- url: https://api.schoology.com/v1
  description: Schoology REST API v1
security:
- OAuth: []
tags:
- name: Users
paths:
  /users:
    get:
      summary: List users
      operationId: listUsers
      tags:
      - Users
      responses:
        '200':
          description: A collection of users.
  /users/{id}:
    get:
      summary: Get user
      operationId: getUser
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: A single user.
  /users/ext/{external_id}:
    get:
      summary: Get user by external ID
      operationId: getUserByExternalId
      tags:
      - Users
      parameters:
      - name: external_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single user.
  /users/{id}/sections:
    get:
      summary: List sections for a user
      operationId: listUserSections
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Sections the user is enrolled in.
  /users/{id}/groups:
    get:
      summary: List groups for a user
      operationId: listUserGroups
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Groups the user belongs to.
  /users/{id}/grades:
    get:
      summary: Get grades for a user
      operationId: getUserGrades
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Grades for the user.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth:
      type: oauth2
      description: OAuth 1.0a / 2.0 per Schoology Authentication docs.
      flows:
        authorizationCode:
          authorizationUrl: https://api.schoology.com/v1/oauth/authorize
          tokenUrl: https://api.schoology.com/v1/oauth/access_token
          scopes: {}
