openapi: 3.2.0
info:
  title: Schoology REST API v1 Assignments API
  description: 'REST API for the Schoology K-12 LMS (a PowerSchool company). Provides access

    to realm resources (users, courses, sections), realm objects (enrollments,

    assignments, grades, submissions), and multi-call helpers.

    Source: https://developers.schoology.com/api-documentation/rest-api-v1

    '
  version: '1.0'
servers:
- url: https://api.schoology.com/v1
  description: Schoology REST API v1
security:
- OAuth: []
tags:
- name: Assignments
paths:
  /sections/{section_id}/assignments:
    get:
      summary: List assignments in a section
      operationId: listAssignments
      tags:
      - Assignments
      parameters:
      - $ref: '#/components/parameters/SectionId'
      responses:
        '200':
          description: Assignments in the section.
    post:
      summary: Create assignment
      operationId: createAssignment
      tags:
      - Assignments
      parameters:
      - $ref: '#/components/parameters/SectionId'
      responses:
        '201':
          description: Assignment created.
  /sections/{section_id}/assignments/{id}:
    get:
      summary: Get assignment
      operationId: getAssignment
      tags:
      - Assignments
      parameters:
      - $ref: '#/components/parameters/SectionId'
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: An assignment.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
    SectionId:
      name: section_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth:
      type: oauth2
      description: OAuth 1.0a / 2.0 per Schoology Authentication docs.
      flows:
        authorizationCode:
          authorizationUrl: https://api.schoology.com/v1/oauth/authorize
          tokenUrl: https://api.schoology.com/v1/oauth/access_token
          scopes: {}
